body{
	background-image: url(https://uploaddeimagens.com.br/images/001/439/718/original/sk1.png?1527523725);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgb(0,0,0);
	background-size: 100%;
	background-position: top;
}
