#background-imagem{
	position: relative;
	width: 30%;
	height: 70%;
	left: 30%;
	background-image: url(http://uploaddeimagens.com.br/images/001/442/836/original/sk1.png?1527638360);
	background-size: contain;
	background-repeat: no-repeat;
}
#manutencao-box-div{
	position: absolute;
	top: 400px;
	opacity: 50%;
	background-color: rgb(235,235,235);
	border: 2px solid black;
	border-radius: 4px; 
	font: bold 30px sans-serif;
	font-family: "COURIER", 'Verdana', arial;
	padding: 30px 70px;
	left: 20px;
}
#manutencao-box-div:hover{
	background-color: black;
	border-color: rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}
#manutencao-box-texto{
	position: absolute;
	top: 500px;
	opacity: 50%;
	font: italic bold 25px sans-serif;
	font-family: "COURIER", 'Verdana', arial;
	left: 200px;
	color: white;
}